openapi: "3.0.0"
info:
    version: 1.0.0
    title: POS Api
    description: La API de punto de venta permite a las aplicaciones móviles abrir la aplicación Clip para procesar pagos de una persona usando el lector de Clip. Los desarrolladores pueden usar la API de punto de venta para crear soluciones personalizadas de punto de venta o cualquier otra aplicación que requiera pagos, sin preocuparse por el cumplimiento de PCI. Por el momento la API de punto de venta está disponible para el dispositivo Clip Pro.
    license:
        name: MIT
servers:
    - url: https://testapi-gw.payclip.com
      description: Esta es la direccion del servicio en produccion
    - url: https://sandbox.payclip.com
      description: Esta es la direccion del servicio para testing (Sandbox)
security:
    - ApiKeyAuth: [] # use the same name as under securitySchemes
paths:
    /paymentrequest:
        get:
            summary: Obtiene un listado de transacciones
            operationId: Obtener Transacciones
            tags:
                - payment
            security:
                - ApiKeyAuth: []
            parameters:
                - description: Cadena de caracteres usado para identificar al usuario asignado. Formato de correo electronico
                  in: path
                  name: assigned_user
                  required: true
                  schema:
                      type: string
                      format: email
            responses:
                "200":
                    description: Respuesta del servidor con el listado de transacciones
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TransactionList"
                "401":
                    $ref: "#/components/responses/Unauthorized"
        post:
            summary: Registrar una transacción
            operationId: Payment Request
            requestBody:
                $ref: "#/components/requestBodies/RegisterTransaccion"
            tags:
                - payment
            security:
                - ApiKeyAuth: []
            responses:
                "200":
                    description: Respuesta del servidor al momento de crear una transaccion
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/200TransactionOk"
                "401":
                    $ref: "#/components/responses/Unauthorized"

components:
    securitySchemes:
        ApiKeyAuth: # arbitrary name for the security scheme
            type: apiKey
            in: header # can be "header", "query" or "cookie"
            name: x-api-key # name of the header, query parameter or cookie
            description: llave provista por clip necesaria para poder autenticarse y con ello realizar llamadas al api.
    requestBodies:
        RegisterTransaccion:
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/RegisterTransaccion"
    schemas:
        RegisterTransaccion:
            properties:
                amount:
                    description: Monto de la transacción
                    type: number
                assigned_user:
                    description: Cadena de caracteres usado para identificar al usuario asignado. Formato de correo electronico
                    type: string
                    format: email
                reference:
                    description: Identificador único de transacción, puede ser cualquier cadena.
                    type: string
                    format: uuid
                user_id:
                    description: Identificador del usuario relacionado con la cuenta del clip.
                    type: string
                    format: uuid
                message:
                    description: Texto que aparecerá como referencia en la sección de cobros pendientes.
                    type: string
                    example: pago pendiente
            type: object
            required:
                - amount
                - reference
                - message
        DateTime:
            properties:
                epochSecond:
                    type: integer
                nano:
                    type: integer
        Transactions:
            properties:
                paymentRequestId:
                    description: Identificador del pago
                    type: string
                    format: uuid
                transactionId:
                    description: Identificador de la transaccion
                    type: string
                    format: uuid
                merchantId:
                    description: Identificador del Merchant de Clip
                    type: string
                    format: uuid
                merchantToken:
                    description: Token del Merchant
                    type: string
                    format: uuid
                paymentRequestCode:
                    description: Codigo
                    type: string
                amount:
                    description: Monto de la transaccion
                    type: number
                currency:
                    description: Moneda usada en la transaccion
                    type: string
                merchantInvoiceId:
                    type: string
                    example: cobro-septiembre17
                statusCode:
                    description: Estado de la transaccion
                    type: integer
                statusMsg:
                    description: Descripcion del codigo del estado de la trasaccion
                    type: string
                expiresAt:
                    $ref: "#/components/schemas/DateTime"
                assignedUserId:
                    type: string
                    description: usuario asignado a la transaccion
                message:
                    description: Texto que aparecerá como referencia en la sección de cobros pendientes.
                    type: string
                    example: pago pendiente
                consumerEmail:
                    description: correo electronico
                    type: string
                    format: email
                createdByUserId:
                    description: id del usuario que creo la trasaccion
                    type: string
                    format: uuid
                closedAt:
                    $ref: "#/components/schemas/DateTime"
                createdAt:
                    $ref: "#/components/schemas/DateTime"
                updatedAt:
                    $ref: "#/components/schemas/DateTime"
        TransactionList:
            properties:
                transactions:
                    items:
                        $ref: "#/components/schemas/Transactions"
                    type: array

        200TransactionOk:
            type: object
            properties:
                code:
                    enum: [100, 101]
                    type: integer
                    description: >
                        Codigo de respuesta:
                         * `100` - Transaccion exitosa
                         * `101` - Referencia ya existe
                description:
                    type: string
                    description: Descripcion del codigo de error
                    example: Transaction Device Saved Success
                message:
                    type: string
                    description: Mensaje del servidor
                    example: Reference Already Exists
        Error:
            type: object
            required:
                - message
            properties:
                message:
                    type: string
                    description: Mensaje descriptivo del error
                    example: Unauthorized
    responses:
        Unauthorized:
            description: Usuario no autorizado
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/Error"
